nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #7E9DAB;
    height: 80px;
    position: fixed;
    z-index: 1;
    
}
ul {
    display: flex;
    justify-content: right;
}

li {
    display: inline;
    padding: 15px;
    margin: 15px;
    align-content: flex-end;

}
nav img {
    display: flex;
    height: 50px;
    justify-content: left;
    border-radius: 50px;

}
.banner {
    text-align: center;
}
.banner img {
    margin-top: 100px;
    margin-bottom: 50px;
}
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px;
    background-color: #7E9DAB;
    padding: 50px;

}
.main_left {
    display: flex;
    flex-direction: column;
    line-height: 5px;
    text-align: center;
    padding: 10px;
    

}
.main a {
    padding: 30px;
}
.coaches {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
}
h2 {
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
}
.coaches img {
    border-radius: 90px;
}
.coaches p {
    text-align: center;
    
}
.dustin {
    width: 220px;
    height: 146px;
    padding: 5px;
}
.lindsay {
    width: 220px;
    height: 146px;
    padding: 5px;
}
.logan {
    width: 220px;
    height: 146px;
    padding: 5px;
}
.mike {
    width: 220px;
    height: 146px;
    padding: 5px;
}
.schedule {
    margin-left: auto;
    margin-right: auto;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table {
    width: 80%;
    
}
tr:nth-child(even) {background-color: cadetblue;}
th {
    font-weight: 700;
}

td {
    height: 35px;
    text-align: center;
}
.heading {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
footer img {
    height: 50px;
    padding: 5px;
    margin-left: 25px;
}


   

